{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-react-jsx"],
    ["@babel/plugin-proposal-class-properties"],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true,
        "useESModules": false
      }
    ]
    // ["import", { "libraryName": "antd-mobile", "style": true }] // `style: true` 会加载 less 文件
  ]
}