<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    .loading-p {
      margin: 70vw auto;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .loading-p span {
      font-size: 7vw;
      color: #F2C640;
      display: table-cell;
      padding: 0px 2px;
      line-height: 11vw;
      animation: jumb 2s infinite;
    }

    @keyframes jumb {
      0% {
        transform: translateY(0px)
      }

      50% {
        transform: translateY(-15px);
        box-shadow: 0 10px 0 rgb(242, 198, 64);
      }

      100% {
        transform: translateY(0px)
      }
    }

    .loading-p span:nth-child(1) {
      animation-delay: 0s;
    }

    .loading-p span:nth-child(2) {
      animation-delay: .1s;
    }

    .loading-p span:nth-child(3) {
      animation-delay: .2s;
    }

    .loading-p span:nth-child(4) {
      animation-delay: .3s;
    }

    .loading-p span:nth-child(5) {
      animation-delay: .4s;
    }

    .loading-p span:nth-child(6) {
      animation-delay: .5s;
    }

    .loading-p span:nth-child(7) {
      animation-delay: .6s;
    }
  </style>
</head>

<body>
  <div id="root">
    <div class="loading-p">
      <span>L</span>
      <span>o</span>
      <span>a</span>
      <span>d</span>
      <span>i</span>
      <span>n</span>
      <span>g</span>
    </div>
  </div>
  <%= require('src/common/ejs/lang.ejs')() %>
</body>

</html>