<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    .img {
      width: 80%;
      margin: 30% auto 0;
    }
    .img img {
      width: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div id="root">
    <div class="img">
      <img src="http://hb.src.golemon123.com/outweb/image/not_found.b6bf99a4.png">
    </div>
  </div>
</body>
</html>